*{
    padding:0px;
    margin:0px;
}
.titlediv {
    height: 100%;
    position: fixed;
    width: 300px;
    text-align: center;
    align-items: center;
    background-color: #464646;
    color: #f6f6f6;
    float: right;
    border-radius: 10px 10px 0px 0px;
    font-family: Yu Gothic UI Light;
    font-size: 20px;
}
.titlediv img{
    width:300px;
}
.titlediv_item{
    height:85px;
    line-height:85px;
}